<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Trellis.TodoData.Properties.Settings.TodoDBConnectionString"
      connectionString="Data Source=localhost\TIFERIXDB;Initial Catalog=TodoDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>